/doctzApp/nbproject/private/
/doctzApp/doctzApp-war/nbproject/private/
/doctzApp/doctzApp-ejb/nbproject/private/
/doctzApp/build/
/doctzApp/dist/
/doctzApp/doctzApp-ejb/dist/
/doctzApp/doctzApp-ejb/build/
/doctzApp/doctzApp-war/build/
/doctzApp/doctzApp-war/dist/

/doctzApp/doctzApp-war/nbproject/project.properties
/doctzApp/doctzApp-ejb/nbproject/project.properties
/doctzApp/nbproject/project.properties
/DoctzWeb/nbproject/private/
/DoctzWeb/nbproject/private/
/DoctzWeb/build/
/DoctzWeb/dist/



/DoctzWeb/nbproject/private/
/DoctzWeb/build/
/DoctzWeb/dist/
/DoctzWeb/nbproject/project.properties
